@charset "UTF-8";
.container {
  max-width: 86rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.dissapear {
  opacity: 0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.hidden {
  display: none !important;
}

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/Group_4-min.jpg") center/cover;
  background-color: #3a545a;
  background-repeat: no-repeat;
}

.header__inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 2.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__inner-top img {
  width: 4.3rem;
}
.header__inner-top .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.header__inner-top .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50.7rem;
  gap: 3.2rem;
  margin-left: -4.2rem;
}
.header__inner-top .navigation__list li {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  letter-spacing: 0.04rem;
}
.header__inner-top .navigation__list li a {
  color: white;
  padding-bottom: 0.7rem;
}

.navigation__link:hover {
  border-bottom: 0.1rem solid #00b2a0;
}

.header__inner-bottom {
  margin-top: 10rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.header__inner-bottom .header__title {
  font-family: "Raleway";
  font-size: 14.3rem;
  font-weight: 700;
  line-height: 16.8rem;
  letter-spacing: 0.04rem;
  text-align: center;
  color: #242121;
  text-transform: uppercase;
  word-wrap: break-word;
}
.header__inner-bottom .header__subtitle {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.04rem;
}
.header__inner-bottom img {
  margin: 15rem auto 6rem auto;
  -webkit-animation: down-up 2s infinite;
          animation: down-up 2s infinite;
  cursor: pointer;
  width: 1.4;
}
.header__inner-bottom p {
  color: #242121;
}

@-webkit-keyframes down-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(0.7rem);
            transform: translateY(0.7rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
}

@keyframes down-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(0.7rem);
            transform: translateY(0.7rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
}
.header__burger {
  display: none;
}

@media (max-width: 1024px) {
  .header__inner-top .navigation {
    display: none;
  }
  .header__burger {
    display: block;
    width: 3rem;
    position: relative;
    margin: 0 0 0 auto;
    cursor: pointer;
  }
  .header__burger-item {
    width: 3rem;
    height: 0.3rem;
    background-color: #fff;
  }
  .header__burger-item::after {
    content: "";
    width: 3rem;
    height: 0.3rem;
    background-color: #fff;
    position: absolute;
    bottom: -0.9rem;
  }
  .header__burger-item::before {
    content: "";
    width: 3rem;
    height: 0.3rem;
    background-color: #fff;
    position: absolute;
    top: -0.9rem;
  }
}
@media (max-width: 767px) {
  .header__inner-bottom {
    margin-top: 15rem;
  }
  .header__inner-bottom .header__title {
    font-family: "Raleway";
    font-size: 7rem;
    font-weight: 700;
    line-height: 8rem;
    letter-spacing: 0.04rem;
    text-align: center;
    color: #242121;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .header__inner-bottom .header__subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  .header__inner-bottom {
    margin-top: 10rem;
  }
  .header__inner-bottom .header__title {
    font-family: "Raleway";
    font-size: 5rem;
    font-weight: 700;
    line-height: 8rem;
    letter-spacing: 0.04rem;
    text-align: center;
    color: #242121;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .header__decore {
    margin-top: 7rem !important;
  }
}
.title-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-group__title {
  margin-top: 13.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 4rem;
  letter-spacing: 0.04px;
  color: #01353e;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 63.4rem;
}

.title-group__title::after {
  content: "";
  width: 3.4rem;
  height: 6rem;
  background: url("../img/titles__decore.svg") no-repeat center/contain;
  position: absolute;
  top: 10%;
  right: -3.7rem;
}

.about__articles {
  margin: 7.1rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.1rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 4 2.1rem 1fr;
  grid-template-rows: 4 1fr;
  gap: 2.1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14.3rem;
}

.about__articles > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about__articles > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.about__articles > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.about__articles > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.about__articles .about__artcle-item {
  max-width: 34.3rem;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.04rem;
  color: #242121;
}

@media (max-width: 1024px) {
  .about__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__articles .about__artcle-item {
    margin-top: 2.2rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__artcle-item::after {
    content: "";
    width: 5rem;
    height: 3rem;
    background: url("../img/features__pic_wave.svg") no-repeat center/contain;
    opacity: 0.5;
  }
}
@media (max-width: 860px) {
  .title-group__title::after {
    display: none;
  }
}
.features {
  background-color: #f8f8f8;
}

.features__inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5.1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.features__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr 1.2rem 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.2rem;
}

.feauters__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  -ms-grid-column-align: center;
      justify-self: center;
}
.feauters__item-header .features__item-pic {
  width: 3.9rem;
  max-height: 3.6rem;
}
.feauters__item-header .features__item-title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 117%;
  letter-spacing: 0.04rem;
  color: #242121;
  text-transform: uppercase;
}

.features__article {
  max-width: 25rem;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.04rem;
  color: #242121;
}

.features__inner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7rem;
  padding-bottom: 14.3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.1rem;
}

.features__stats-item {
  margin-top: 0.7rem;
}

.features__stats-item:first-child {
  margin-top: 0;
}

.features__stats-pic {
  max-width: 14.3rem;
  display: inline-block;
}

.features__stats-item:nth-child(2) .features__stats-pic {
  max-width: 17.3rem;
}

.features__stats-item:nth-child(3) .features__stats-pic {
  max-width: 20.9rem;
}

.features__stats-indicator {
  display: inline-block;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 75%;
  letter-spacing: 0;
  color: #242121;
  margin-left: 0.7rem;
}

.features__stats-description {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 129%;
  letter-spacing: 0.04rem;
}

.features__article-item {
  max-width: 42.8rem;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  font-weight: 300;
  line-height: 129%;
  letter-spacing: 0.04rem;
  text-align: left;
  margin-top: 2.1rem;
}

.features__article-item:first-child {
  margin-top: 0;
}

.goals__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.goals__pic {
  max-width: 68.6rem;
  width: 100%;
}

.goals__textcontent {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.goals__textcontent .goals__article {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 129%;
  letter-spacing: 0.04rem;
  color: #242121;
  max-width: 36.2rem;
  margin-top: 2.1rem;
}

.goals__textcontent p:first-of-type {
  margin-top: 7rem;
}

.gallery__filter-buttons {
  margin-top: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.gallery__filter-btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 75%;
  letter-spacing: 0.04rem;
  color: #242121;
  margin: 0;
  padding: 0;
}

.gallery__filter-btn:hover {
  color: #00b2a0;
}

.gallery__filter-btn--active {
  color: #00b2a0;
}

.gallery__photogroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__album {
  margin-top: 3.7rem;
  padding-bottom: 13rem;
}

.gallery__item-pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 19rem;
  height: 21rem;
  cursor: pointer;
  position: relative;
}

.gallery__item-pic::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.gallery__item-pic:hover::after {
  opacity: 1;
}

.gallery__item-pic--big {
  width: 40rem;
}

.gallery__show-more-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.7rem;
}

.gallery__show-more-btn {
  background-color: transparent;
  border: 1px solid #c4c4c4;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 75%;
  letter-spacing: 0.04rem;
  color: #242121;
  padding: 1.7rem 6.5rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.gallery__show-more-btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #242121;
  z-index: -999;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.gallery__show-more-btn:hover {
  color: #fff;
}

.gallery__show-more-btn:hover::before {
  height: 180%;
  color: #fff;
}

.quote {
  background-color: #f8f8f8;
}

.quote__item {
  text-align: center;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  font-size: 2.57rem;
  line-height: 111%;
  letter-spacing: 0.04rem;
  color: #242121;
  padding-top: 5.7rem;
  padding-bottom: 5.7rem;
  position: relative;
}

.quote__item:after {
  content: "Нэт Янг, первый Чемпион Мира по сёрфингу";
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  line-height: 129%;
  letter-spacing: 0.04rem;
  position: absolute;
  bottom: 33%;
  right: 21.5%;
}

.video {
  height: 100vh;
}

.video__wrapper {
  margin: 0 auto;
  background-color: #f8f8f8;
  margin-top: 14.3rem;
  position: relative;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  fill: #373a39;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  fill-opacity: 0.5;
}

.video__wrapper:hover .video__play-button {
  fill-opacity: 1;
}

.video__play-button:hover {
  fill: #f8f8f8;
}

.video__achievments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 14.3rem;
}
.video__achievments .video__achievments-score {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5.35rem;
  letter-spacing: 0.04rem;
  color: #01353e;
  text-align: center;
}
.video__achievments .video__achievments-description {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 129%;
  text-align: center;
  letter-spacing: 0.04rem;
  color: #242121;
  margin-top: 0.35rem;
}