.title-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-group__title {
  margin-top: 13.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 4rem;
  letter-spacing: 0.04px;
  color: $seconddark;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 63.4rem;
}

.title-group__title::after {
  content: "";
  width: 3.4rem;
  height: 6rem;
  background: url(/img/titles__decore.svg) no-repeat center/ contain;
  position: absolute;
  top: 10%;
  right: -3.7rem;
}

.about__articles {
  margin: 7.1rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4 (1fr);
  gap: 2.1rem;
  justify-content: space-between;
  padding-bottom: 14.3rem;
  .about__artcle-item {
    max-width: 34.3rem;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.04rem;
    color: $primetext;
  }
}

@media (max-width: 1024px) {
  .about__articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__articles .about__artcle-item {
    margin-top: 2.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__artcle-item::after {
    content: "";
    width: 5rem;
    height: 3rem;
    background: url("/img/features__pic_wave.svg") no-repeat center / contain;
    opacity: 0.5;
  }
}

@media (max-width: 860px) {
  .title-group__title::after {
    display: none;
  }
}
