.container {
  max-width: 86rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.dissapear {
  opacity: 0;
  transition: 1s linear;
}

.hidden {
  display: none !important;
}

.upword {
  position: fixed;
  top: 80%;
  left: 3rem;
  // width: 100%;
  // height: 100%;
  overflow: auto;
  text-align: center;
  transition: 0.4s linear;
  z-index: 99;
}

.upward__pic {
  width: 3.5rem;
  height: 3.5rem;
}
